@use "sass:map";

.editor-container {
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 5px;
}

.heading-input {
  font-size: 30px;
  min-height: 60px;
}

.editor {
  margin-top: 10px;
  font-size: 15px;
  min-height: 400px;
  height: min-content;
}

.heading-input,
.editor {
  outline: none;
  width: 100%;
  border: none;
  resize: none;
}

.buttons {
  width: 160px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.back {
  margin-top: 20px;
}

$sizes: (
  1: 50px,
  2: 45px,
  3: 40px,
  4: 35px,
  5: 30px,
  6: 25px,
);

.preview {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: map.get($sizes, $i);
    }
  }

  p {
    font-size: 22px;
  }
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
}

.article-body {
  margin-top: 50px;
}
