@import "~/styles/variables";

.searchbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  width: 260px;
  height: 20px;
  padding: 15px 50px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid $black;
}
