@import "~/styles/variables";
.label {
  margin-bottom: 8px;
  display: block;
}

.input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid $gray;
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border: 1px solid $blue;
}
