@import "../../../styles/variables.scss";

// colors
.white {
  color: $white;
}

.black {
  color: $black;
}

// sizes
.xs {
  font-size: 0.5rem;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 1.5rem;
}

.lg {
  font-size: 2rem;
}

.xl {
  font-size: 2.5rem;
}
