@import "~/styles/variables";

.button {
  width: 100%;
  padding: 15px;
  background-color: $blue;
  font-size: 15px;
  color: $white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 18px;
}
