@import "~/styles/variables";

.button {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.black {
  background-color: $black;
  color: $white;
}

.white {
  background-color: $white;
  color: $black;
}

/* Variants */
.outline {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.filled {
  border: none;
}
