@import "~/styles/variables.scss";

.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 15px;
  min-height: calc(100vh - 200px);
  &.sided {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    .right {
      grid-area: 1 / 1 / 2 / 3;
    }
  }
  &.mini {
    max-width: $mini-page-width;
  }
}
