@import "~/styles/variables";

.card {
  padding: 20px 30px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  margin-left: 20px;
}

.data-container {
  display: flex;
}

.data {
  margin-left: 20px;
}

.stats {
  font-weight: 500;
}

.button-container {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: space-evenly;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.username {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.data-label {
  color: $gray;
}
