@import "../../../styles/variables.scss";

.hashtagContainer {
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
}

.hashtag {
  padding: 5px;
  border-radius: 5px;
}

.filled {
  color: $white;
  .pink {
    background-color: $pink;
  }
  .blue {
    background-color: $blue;
  }
}

.transparent {
  color: $gray;
  .gray {
    color: $gray;
  }
  .pink {
    color: $pink;
  }
}
