$font-family-base: DM sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$white: #ffffff;
$black: #000000;
$pink: #fc3e82;
$blue: #3e68fc;
$gray: #717171;

$sizes: (
  xs: 14px,
  sm: 16px,
  md: 18px,
  lg: 24px,
  xl: 28px,
);
