$font-family-base: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
$font-family-fat: Abril Fatface, serif;
$font-family-heading: "Cormorant", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;

$page-width: 1190px;
$mini-page-width: 700px;

$white: #ffffff;
$white_hovered: #eeeeee;
$black: #000000;
$black_hovered: #303030;
$pink: #fc3e82;
$blue: #3e68fc;
$blue_hovered: #6383f3;
$gray: #717171;
